<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - blogDemoCom.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/blog-home.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>
<body>
    <header>
        @Html.Partial("~/Views/Shared/_Header.cshtml")
    </header>
    <div class="container">
            <div class="row">
                
                    @RenderBody()
                
                    @Html.Partial("~/Views/Shared/_Sidebar.cshtml")
                
            </div>  
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - blogDemoCom.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<script type="text/javascript">
     function searchPost() {
        var searchText = document.getElementById("searchText").value;
        $.ajax({
            url: '/Home/SearchPost',
            data: { searchText: searchText },
            type: 'post',
            dataType: 'json',
            success: function (data) {
                console.log("başarıyla eklendi baba: " + data.message);
            },
            error: function (data) {

            }
        });
     }
     
</script>