
@model IEnumerable<Data.Domain.Post>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@foreach (var item in Model)
{
    <article class="brick entry format-standard animate-this">
      <div class="entry-thumb">
          <a asp-action="BlogItem" asp-route-id="@item.Id" class="thumb-link">
              <img src="~/postImages/@(item.Image)" alt="building">             
          </a>
      </div>
      <div class="entry-text">
          <div class="entry-header">
              <div class="entry-meta">
                  <span class="cat-links">
                      <a href="#">@item.AuthorName</a> 
                      <a href="#">@item.UpdateTime.ToString("dd.MM.yyyy hh:mm tt")</a>               				
                  </span>			
              </div>
              <h1 class="entry-title"><a asp-action="BlogItem" asp-route-id="@item.Id">@item.Title</a></h1>               		
          </div>
            <div class="entry-excerpt">
                @Html.Raw((item.Content.Length > 250 ? item.Content.Substring(0, 250) : item.Content)) ...
            </div>
      </div>
  </article>
}
