@using Data.Domain
@model PagedList.Core.PagedList<Data.Domain.Post>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


  <h1 class="my-4">Blog Demo
    <small>.Net Core 3.1 MVC Blog Projesi</small>
  </h1>

  <!-- Blog Post -->
  @foreach (var item in Model)
  {                                   
    <div class="card mb-4">
      <img class="card-img-top" src="http://@item.Image" alt="Card image cap">
      <div class="card-body">
        <h2 class="card-title">@item.Title</h2>
        <p class="card-text">@item.Content</p>
        <a href="#" class="btn btn-primary">Read More &rarr;</a>
      </div>
      <div class="card-footer text-muted">
        Posted on @item.CreateTime by
        <a href="#">@item.AuthorId</a>
      </div>
    </div>
  }


  <!-- Pagination -->
  <div class="row">
    <div class="col-xs-12 sayfalama">
        <div class="sayfalama-bilgi">Toplam <span>@Model.TotalItemCount</span> Kayıt Bulunuyor. Şu anda <span>@Model.FirstItemOnPage</span> - <span>@Model.LastItemOnPage</span> Arasındaki Kayıtlar Gösteriliyor. </div>

        <pager list="@Model" asp-controller="Home" options="@PagedList.Core.Mvc.PagedListRenderOptions.Bootstrap4PageNumbersOnly" asp-action="Index" />
    </div>
  </div>

